@import '../variables-and-mixins';

// Horizontal menu
.horizontal-nav {
  background: $ultraLightGray;
  z-index: 150;
  position: sticky;
  top: 0;
  overflow-x: auto;

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    display: flex;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .1rem;
    color: $lightBlack;
    @include transition;
    white-space: nowrap;
    padding: 1rem;

    &:hover,
    &.active {
      background-color: $blue;
      color: white;
    }
  }
}

// Vertical Menu
.vertical-nav {
  padding: 2rem;
  background: $ultraLightGray;
  height: 100%;
  width: 56px;
  z-index: 999;
  @include transition;

  &.active {
    width: 150px;
  }

  &__list {
    position: sticky;
    top: 2rem;
    list-style: none;

    .vertical-nav__item:last-child {
      .vertical-nav__link::after {
        display: none;
      }

      .vertical-nav__text {
        border: none;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    @include transition;
    white-space: nowrap;
    min-width: 100px;
    position: relative;

    &:hover,
    &.active {
      &::before {
        background-color: $blue;
      }
    }

    &.show {
      span {
        @include transition;
        opacity: 1;
        animation: show-right .3s ease-in-out forwards;
      }
    }

    &:hover .vertical-nav__text {
      color: $blue;
    }

    &::before {
      content: '';
      width: 15px;
      height: 15px;
      background-color: $lightBlack;
      border: 2px solid $lightBlack;
      border-radius: 50%;
      margin-right: 1rem;
      position: relative;
      z-index: 50;
      opacity: 1;
    }

    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 2px;
      background-color: $lightBlack;
      left: 7px;
      top: 25px;
    }

    .vertical-nav__text {
      color: $lightBlack;
      font-weight: 700;
      border-bottom: 1px solid;
      opacity: 0;
      padding: .8rem;
      min-width: 85px;
    }
  }
}

@media (max-width: 768px) {
  .vertical-nav {
    width: 36px;
    padding: 1rem;
  }
}

@media (max-width: 560px) {
  .vertical-nav {
    height: initial;
    width: 100%;

    &.active {
      width: 100%;
    }

    &__list {
      display: flex;
      overflow-x: auto;
    }

    &__link {
      &::after {
        content: none
      }

      .vertical-nav__text {
        border: none;
        opacity: 1;
        padding: 0;
      }
    }

    &__text {
      opacity: 1;
    }
  }
}