@import '../variables-and-mixins';

/* Tooltip */
.tooltip {
  color: $blue;
  cursor: pointer;
  position: relative;
  z-index: 555;

  &-content {
    font-size: 1.6rem;
    line-height: 1.55;
    letter-spacing: -.01rem;
    font-style: italic;
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 1.5rem);
    left: 2rem;
    width: 24rem;
    padding: 0.9375rem;
    border-radius: .5rem;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 3rem, 0);
    opacity: 0;
    height: 0px;
    pointer-events: none;
    z-index: 999;

    &::before {
      content: "";
      width: 2rem;
      height: 2rem;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      border-radius: 5px 0 0 0;
      bottom: -10px;
      left: 2rem;
    }
  }

  &:hover {
    .tooltip-content {
      visibility: visible;
      opacity: .9;
      height: auto;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }

  .tooltip-content {
    background: $lightBlack;
    color: white;

    &::before {
      background: $lightBlack;
    }
  }
}

/* Popover */
[data-popover="content"].active {
  display: block;
  animation: show-down .3s forwards;
}

[data-popover="open"] {
  cursor: pointer;
}

.popover {
  color: $blue;
  position: relative;

  &-content {
    display: none;
    padding: 2rem;
    border-radius: .5rem;
    position: absolute;
    top: calc(100% + 1.5rem);
    width: 30rem;
    z-index: 999;
    background: $lightGray;
    color: $lightBlack;
    font-size: 1.6rem;
    line-height: 1.55;
    letter-spacing: -.01rem;
  
  
    &::before {
      content: "";
      background: $lightGray;
      width: 2rem;
      height: 2rem;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      border-radius: 5px 0 0 0;
      top: -10px;
      left: 2rem;
    }
  }
}

.btn-popover {
  @include btn;
}

@media (max-width: 576px) {
  .tooltip, .popover {
    &-content {
      width: 20rem;
    }
  }
}