meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="description" content="Framework de componentes para uso em web-sites")
link(rel="shortcut icon" href="img/png/favicon.png")
title= "Framework de componentes para uso em web-sites"
link(rel="stylesheet", href=`${urlCSS}components.css`)
link(rel="stylesheet", href=`${urlCSS}style.css`)
script.
  document.documentElement.className += ' js';
  

