/* Accordion */
.accordion {

  &__title {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: $darkBlue;

    &::before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 1rem;
      margin-right: 1rem;
      background: $blue;
    }

    &::after {
      content: '⬎';
      margin-left: 10px;
    }

    &.active::after {
      content: '⬏';
      transform: rotate(90deg);
      transition: .3s
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: 1.8rem;
    color: $darkGray;
  }
}

