.activate-menu {
  background: $blue;
  position: relative;
  z-index: 150;
  position: sticky;
  top: 0;
  overflow-x: auto;

  &__list {
    display: flex;

    li {
      a {
        display: flex;
        padding: 1rem;
        text-decoration: none;
        letter-spacing: .1rem;
        color: white;
        @include transition;
        white-space: nowrap;
  
        &:hover, &.active {
          background-color: $lightBlue;
        }
      }
    }
  }
}

.activate-content  {
  padding: 8rem;
  margin: 8rem 0;
  border: 1px solid $lightGray;
}


@media (max-width: 768px) {
  .activate-content {
    padding: 2rem;
  }
}