// Horizontal menu
.horizontal-nav {
  background: $ultraLightGray;
  z-index: 150;
  position: sticky;
  top: 0;
  overflow-x: auto;

  &__link {
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .1rem;
    color: $lightBlack;
    @include transition;
    white-space: nowrap;
    padding: 1rem;

    &:hover,
    &.active {
      background-color: $blue;
      color: white;
    }
  }
}

// Vertical Menu
.vertical-nav {
  padding: 2rem;
  background: $ultraLightGray;
  height: 100%;
  width: 5.6rem;
  z-index: 999;
  @include transition;

  &.active {
    width: 15rem;
  }

  &__list {
    position: sticky;
    top: 2rem;

    .vertical-nav__item:last-child {
      .vertical-nav__link::after {
        display: none;
      }

      .vertical-nav__text {
        border: none;
      }
    }
  }

  &__link {
    &:hover,
    &.active {
      &::before {
        background-color: $blue;
      }
    }

    &:hover .vertical-nav__text {
      color: $blue;
    }

    &::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-color: $lightBlack;
      border: 2px solid $lightBlack;
      border-radius: 50%;
      margin-right: 1rem;
      position: relative;
      z-index: 50;
      opacity: 1;
    }

    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 2px;
      background-color: $lightBlack;
      left: .7rem;
      top: 26px;
    }

    .vertical-nav__text {
      color: $lightBlack;
      font-weight: 700;
      opacity: 0;
      border-bottom: 1px solid;
    }
  }
}

.activate-content {
  padding: 8rem;
  margin-bottom: 8rem;
  border: 1px solid $lightGray;
}

@media (max-width: 768px) {
  .vertical-nav {
    width: 3.6rem;
    padding: 1rem;
  }

  .activate-content {
    padding: 2rem;
  }
}

// @media (max-width: 560px) {
//   .vertical-menu {
//     height: initial;
//     width: 100%;

//     &.active {
//       width: 100%;
//     }

//     &__list {
//       display: flex;
//       overflow-x: auto;
//     }

//     &__link {
//       &::after {
//         content: none
//       }

//       .vertical-menu__text {
//         border: none;
//         opacity: 1;
//         padding: 0;
//       }
//     }

//     &__text {
//       opacity: 1;
//     }
//   }
// }