.documentation-block {
  margin: 6rem 0;

  &__text {
    color: $darkGray;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .documentation-block {
    margin: 3rem 0;
  }
}