/* Dropdown */
.drop-down {
  &__link {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;

    &::after {
      display: inline-block;
      content: '▼';
      font-size: 1rem;
      color: white;
      @include transition;
      margin-left: 0.5rem;
    }
  }

}

.dropdown-menu {
  position: absolute;
  top: 4.2rem;
  background: $darkBlue;
  z-index: 200;
  padding: 1rem;
}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -1rem;
  width: 0px;
  height: 0px;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid $darkBlue;
}

.dropdown-menu li {
  a {
    &-hover {
      color: white;
    }
  }
}

@media (max-width: 992px) {
  .drop-down {
    padding-right: 0;
  }

  .dropdown-menu {
    position: static;
    border: none;
  }
}