/* ---- Geral ---- */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import 'reset';
@import 'variables-and-mixins';

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

a {
  color: $blue;
  @include transition;

  &:hover {
    color: $darkBlue
  }
}

.utilization {
  margin: 1rem 0 4rem !important;
  background: $ultraLightGray;
  padding: 1rem;
}

.block-code {
  margin-top: 6rem;
  margin-bottom: 6rem;

  .code {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px dotted $lightGray;
    white-space: nowrap;
  }
}

pre {
  color: $darkGray;
  overflow-x: auto;
  white-space: pre-wrap;
  margin: 0;
}

.btn-copy {
  align-self: flex-end;
  max-width: 3.5rem;
  cursor: pointer;
}

.scroll-block {
  margin-bottom: 6rem;
}

.grid-block {
  margin-bottom: 6rem;

  &__content {
    border: 1px dotted $darkGray;
    padding: 1rem;

    &-title {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $lightBlack;
    }

    p {
      color: $darkGray;
    }
  }

  &__item {
    color: $darkBlue;
  }
}

.main {
  display: grid;
  grid-template-columns: 200px minmax(250px, auto);
  height: 100vh;

  &-content {
    padding: 3rem 6rem;

    &__title {
      font-size: 4rem;
      margin-bottom: 3rem;
      color: $lightBlack;

      &::after {
        content: '';
        display: block;
        background-color: $lightBlack;
        width: 5%;
        height: 1px;
        margin-top: 10px;
      }
    }

    &__subtitle {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      color: $lightBlack;
    }

    &__text {
      color: $darkGray;
      margin-bottom: 2rem;
      line-height: 1.5;

      &.moldure {
        background-color: $ultraLightGray;
        padding: 4rem;
        border: 2px dotted $lightGray;
        margin-bottom: 6rem;

        .space-bottom {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.back-top-button {
  display: flex;
  opacity: 0;
  pointer-events: none;
  background-color: $blue;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  box-shadow: 2px 2px 4px rgba($darkGray, $alpha: .5);
  z-index: 50;

  &:hover {
    background-color: $darkBlue;
  }

  &.active {
    opacity: 1;
    animation: show-up .3s ease-in-out;
    pointer-events: visible;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8.8px;
  }

  pre {
    white-space: pre;
  }

  .main {
    display: grid;
    grid-template-columns: 100%;
    height: initial;

    &-content {
      padding: 4rem 2rem;

      &__title {
        font-size: 3rem;
      }

      &__subtitle {
        font-size: 2rem;
      }

      &__text {
        &.moldure {
          padding: 3rem;
        }
      }

      .back-top-button {
        width: 3rem;
        height: 3rem;
        padding: .7rem;
      }
    }
  }
}