/* Menu */
.menu {
  background: $blue;
  z-index: 150;
  position: sticky;
  top: 0;

  &-list,
  &-mobile {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    a {
      display: flex;
      padding: 1rem;
      text-decoration: none;
      letter-spacing: .1rem;
      color: white;
      @include transition;

      &:hover,
      &.active {
        background-color: $lightBlue;
      }
    }
  }
}

/* Menu-mobile */
.menu-button {
  display: none;
}

@media (max-width: 992px) {
  .menu {
    &-list {
      display: none;
      background: $blue;
      width: 100%;
      z-index: 200;
      top: 3.5rem;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
      position: absolute;
      z-index: 300;

      &.horizontal {
        display: initial;
        opacity: 0;
        left: -100%;
        @include transition;
      }

      &.active {
        display: block;
        animation: show-down .3s forwards;

        &.horizontal {
          display: initial;
          animation: none;
          opacity: 1;
          left: 0;
        }
      }

      li {
        border-bottom: 1px solid $darkBlue;

        &:last-child {
          border: 0;
        }
      }
    }
  }

  .menu-button {
    display: flex;
    align-items: center;
  }

  .menu-button {
    background: $darkBlue;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      height: 2px;
      width: 12px;
      background: white;
      box-shadow: 0 4px white, 0 -4px white;
      margin-right: 5px;
      transition: transform .3s
    }

    &.active::before {
      transform: rotate(90deg);
    }
  }
}