.galery {
  margin-bottom: 6rem;
}

.slide {
  >* {
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    border-radius: 4px;
    background: #effcff;
  }

  >*.active {
    transform: scale(1);
  }
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

[data-control="slide"]>*>* {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: #6ee2fd;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: .5rem;
}

[data-control="slide"]>*.active>*,
[data-control="slide"]>*>*:hover {
  background: #1291af;
}

.custom-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

  >* {
    opacity: .8;
    transform: scale(.8);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: .4rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
  }

  >*.active {
    transform: scale(1);
  }
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;

  * {
    border: none;
    border-radius: .4rem;
    color: white;
    width: 12rem;
    height: 4rem;
    text-indent: -999px;
    overflow: hidden;
    outline: none;
  }

  *:hover {
    transition: .3s ease-in-out;
  }

  *.prev {
    background: url('../img/slide/arrow-left.svg') center center no-repeat;
  }

  *.next {
    background: url('../img/slide/arrow-right.svg') center center no-repeat;
  }
}

@media (hover: hover) {
  .arrow-nav {
    *.prev:hover {
      animation: arrow-left .3s alternate infinite;
    }
  
    *.next:hover {
      animation: arrow-right .3s alternate infinite;
    }
  }
}
