/* Tooltip */
.tooltip {
  color: $blue;

  &-content {
    font-size: 1.6rem;
    line-height: 1.55;
    letter-spacing: -.01rem;
    font-style: italic;
  }

  .tooltip-content {
    background: $lightBlack;
    color: white;

    &::before {
      background: $lightBlack;
    }
  }
}

/* Popover */
.popover {
  color: $blue;
  position: relative;

  &-content {
    background: $lightGray;
    color: $lightBlack;
    font-size: 1.6rem;
    line-height: 1.55;
    letter-spacing: -.01rem;
    
  
    &::before {
      background: $lightGray;
    }
  }
}

.btn-popover {
  @include btn;
}

@media (max-width: 576px) {
  .tooltip, .popover {
    &-content {
      width: 20rem;
    }
  }
}