.galery {
  &.center {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;

  &::hover {
    will-change: transform;
  }

  >* {
    width: 80vw;
    max-width: 80rem;
    margin: 0 2rem;
    flex-shrink: 0;
    overflow: hidden;
  }

  >*.active {
    opacity: 1;
    cursor: pointer;
  }
}

.slide-center {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.custom-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;

  >* {
    overflow: hidden;
    cursor: pointer;
  }

  >*.active {
    opacity: 1;
  }
}

.no-controls>[data-control="slide"] {
  display: none;
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;

  * {
    cursor: pointer;
  }
}

.prev.hide,
.next.hide {
  opacity: 0;
  pointer-events: none;
  transition: .3s ease-in-out;
}

@media (max-width: 768px) {
  .slide-center {
    max-width: 100%;
  }
}