extends ../_components/layout.pug
include ../_components/mixins/mixins.pug

//- head
//- ===================================
append head
  - var urlCSS = "../css/"
  include ../_includes/head.pug

//- Content
//- ===================================
block content
  - var selected = 'Active Navigation';	
  - var urlAncor = '../#'
  - var urlIndex = '../index.html'
  - var urlImg = '../img/'
  - var urlPages = '../pages-components/'; 

  //Main
  main.main(id="main")
    include ../_includes/menu.pug		

    .main-content
      h1.main-content__title Active Navigation
      div(class="collapse" data-collapse="group")
        div(class="utilization collapse__title" data-collapse="item") Veja como utilizar
        div.main-content__text.moldure(data-collapse="content")
          p Acrescentar um <b>data-nav="activate-nav"</b> no menu. No conteúdo associado ao menu, aplicar um <b>data-activate="content"</b> e um <b>aria-label="algum-texto"</b>. Esse texto, será o título dos itens do menu. As classes podem ter qualquer nome e serem estilizadas livremente.
      
        <div class="tab" data-tab="group">
          <nav class="tab-nav" data-tab="nav">
            <ul>
              <li class="active" data-tab="item">
                <a href="#tab-one" data-tab="link">Estilo 1</a>
              </li>
              <li data-tab="item">
                <a href="#tab-two" data-tab="link">Estilo 2</a>
              </li>
            </ul>
          </nav>

          <div class="tab-content active" id="tab-one" data-tab="content">
            <nav class="horizontal-nav">
              <ul class="horizontal-nav__list" data-nav="horizontal-nav"></ul>
            </nav>

            section.activate-content(data-activate="content" id="section01" aria-label="Seção 01")
              p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. Natus, a omnis eum sequi odio, facilis quidem deserunt, quas dolor voluptatem similique dicta delectus quos. Sequi?Culpa sequi soluta deleniti sint pariatur architecto ad ex illum ea quibusdam veniam aliquam, molestiae quis, odit veritatis dolore hic adipisci! Architecto est atque animi possimus distinctio iure deleniti rem?

            section.activate-content(data-activate="content" id="section02" aria-label="Seção 02")
              p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. 

            section.activate-content(data-activate="content" id="section03" aria-label="Seção 03")
              p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. Natus, a omnis eum sequi odio, facilis quidem deserunt, quas dolor voluptatem similique dicta delectus quos. Sequi?Culpa sequi soluta deleniti sint pariatur architecto ad ex illum ea quibusdam veniam aliquam, molestiae quis, odit veritatis dolore hic adipisci! Architecto est atque animi possimus distinctio iure deleniti rem?

              p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. Natus, a omnis eum sequi odio, facilis quidem deserunt, quas dolor voluptatem similique dicta delectus quos. Sequi?Culpa sequi soluta deleniti sint pariatur architecto ad ex illum ea quibusdam veniam aliquam, molestiae quis, odit veritatis dolore hic adipisci! Architecto est atque animi possimus distinctio iure deleniti rem?

            section.activate-content(data-activate="content" id="section04" aria-label="Seção 04")
              p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. Natus, a omnis eum sequi odio, facilis quidem deserunt, quas dolor voluptatem similique dicta delectus quos. Sequi?Culpa sequi soluta deleniti sint pariatur architecto ad ex illum ea quibusdam veniam aliquam, molestiae quis, odit veritatis dolore hic adipisci! Architecto est atque animi possimus distinctio iure deleniti rem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil, minus, dolorem voluptatibus libero nulla placeat voluptatum eius suscipit consequuntur molestiae fugit at est culpa esse rerum quam, voluptatem nostrum.Iure saepe, eius doloribus non porro reprehenderit veritatis hic veniam ad quidem. Perspiciatis accusantium maiores aliquid. Non voluptates vero, mollitia placeat sit officia minus tempore expedita nostrum cumque repellendus aliquam.
            
            .block-code
              h2.main-content__subtitle HTML Exemplo - Estilo Horizontal
              .code
                button(class="btn-copy" data-clipboard-target="#html-code")
                  img(src="../img/clippy.svg" alt="Copy Simbol")
                pre
                  code(id="html-code")
                    |  &lt;nav class=&quot;activate-menu&quot; data-smooth&gt;
                    |    &lt;ul class=&quot;activate-menu__list&quot; data-nav=&quot;active-nav&quot;&gt;&lt;/ul&gt;
                    |  &lt;/nav&gt;

                    |  &lt;section class=&quot;activate-content&quot; data-activate=&quot;content&quot; id=&quot;section01&quot; aria-label=&quot; Seção 01&quot;&gt;
                    |    &lt;p&gt;Conteúdo aqui&lt;/p&gt;
                    |  &lt;/section&gt
          </div>

          <div class="tab-content" id="tab-two" data-tab="content">
            .grid-container
              .grid-1
                nav.vertical-nav(data-nav="vertical-nav")
                  ul.vertical-nav__list(data-list="vertical-list")

              .grid-11
                section.activate-content(data-topic id="topic01" aria-label="Seção 1")
                  p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. Natus, a omnis eum sequi odio, facilis quidem deserunt, quas dolor voluptatem similique dicta delectus quos. Sequi?Culpa sequi soluta deleniti sint pariatur architecto ad ex illum ea quibusdam veniam aliquam, molestiae quis, odit veritatis dolore hic adipisci! Architecto est atque animi possimus distinctio iure deleniti rem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil, minus, dolorem voluptatibus libero nulla placeat voluptatum eius suscipit consequuntur molestiae fugit at est culpa esse rerum quam, voluptatem nostrum.Iure saepe, eius doloribus non porro reprehenderit veritatis hic veniam ad quidem. Perspiciatis accusantium maiores aliquid. Non voluptates vero, mollitia placeat sit officia minus tempore expedita nostrum cumque repellendus aliquam.
                  
                section.activate-content(data-topic id="topic02" aria-label="Seção 2")
                  p.main-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis repudiandae, voluptatum consectetur illo assumenda aut, aliquam nobis laboriosam dolorum sapiente iusto. Corporis, magnam. Placeat nisi tenetur alias corrupti adipisci!Aliquid cum esse aliquam veritatis nulla, est hic voluptatibus natus ratione quod soluta. Natus, a omnis eum sequi odio, facilis quidem deserunt, quas dolor voluptatem similique dicta delectus quos.

                section.activate-content(data-topic id="topic03" aria-label="Seção 3")
                  p.main-content__text Sequi?Culpa sequi soluta deleniti sint pariatur architecto ad ex illum ea quibusdam veniam aliquam, molestiae quis, odit veritatis dolore hic adipisci! Architecto est atque animi possimus distinctio iure deleniti rem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil, minus, dolorem voluptatibus libero nulla placeat voluptatum eius suscipit consequuntur molestiae fugit at est culpa esse rerum quam, voluptatem nostrum.Iure saepe, eius doloribus non porro reprehenderit veritatis hic veniam ad quidem. Perspiciatis accusantium maiores aliquid. Non voluptates vero, mollitia placeat sit officia minus tempore expedita nostrum cumque repellendus aliquam.

            .block-code
              h2.main-content__subtitle HTML Exemplo - Estilo Vertical
              .code
                button(class="btn-copy" data-clipboard-target="#html-code")
                  img(src="../img/clippy.svg" alt="Copy Simbol")
                pre
                  code(id="html-code")
                    |  &lt;nav class=&quot;activate-menu&quot; data-smooth&gt;
                    |    &lt;ul class=&quot;activate-menu__list&quot; data-nav=&quot;active-nav&quot;&gt;&lt;/ul&gt;
                    |  &lt;/nav&gt;

                    |  &lt;section class=&quot;activate-content&quot; data-activate=&quot;content&quot; id=&quot;section01&quot; aria-label=&quot; Seção 01&quot;&gt;
                    |    &lt;p&gt;Conteúdo aqui&lt;/p&gt;
                    |  &lt;/section&gt
          </div>
        </div>
      
      

    include ../_includes/footer.pug

  //- scripts
  //- ===================================
  prepend scripts
    - var urlJS = '../js/'
    include ../_includes/scripts.pug