extends ../_components/layout.pug
include ../_components/mixins/mixins.pug

//- head
//- ===================================
append head
  - var urlCSS = "../css/"
  include ../_includes/head.pug

//- Content
//- ===================================
block content
  - var selected = 'Documentação';	
  - var urlAncor = '../#'
  - var urlIndex = '../index.html'
  - var urlImg = '../img/'
  - var urlPages = '../pages-components/'; 

  //Main
  main.main
    include ../_includes/menu.pug	

    .main-content
      h1.main-content__title Documentação
      .grid-container
        .grid-8
          div.documentation__block
            h2.main-content__subtitle Arquivos
            p.documentation__text Para utilizar o projeto, faça o download dos #[a(href="../components.zip" download) arquivos]. 
            p.documentation__text Insira o arquivo <b>components.css</b> no header do html e <b>default.css</b>, caso deseje utilizar os estilos padrões. Adicionar também o arquivo <b>components.js</b> antes de fechar a tag body no html.

          div.documentation__block
            h2.main-content__subtitle NPM
            p.documentation__text É possível utilizar o web-components via <b>NPM</b>. Para isso, acesse o repositório do github #[a(href="https://github.com/lefialho/web-components" target="_blank") web-components], clone o projeto e faça um <b>npm install</b>. 
            p.documentation__text Ele já vem estruturado com <b>pug</b>, <b>sass</b> e <b>babel</b> no gulpfile. O código é aberto e pode ser totaltmente modificado. Para rodar o projeto, digite <b>gulp</b> na linha de comando.
 
          div.documentation__block(id="documetation")
            h2.main-content__subtitle Mais slides na página
            p.documentation__text Para adicionar mais de 10 slides na mesma página, <b>clone</b> o repositório no <b>git</b>, faça um <b>npm install</b> e acesse o arquivo <b>main.js</b>. Acrescente novas constantes nos construtores dos slides e modifique os valores de data. 
            p.documentation__text <b>Obs</b>: No HTML os elementos devem ter o mesmo nome das constantes do main.js.

  //- scripts
  //- ===================================
  prepend scripts
    - var urlJS = '../js/'
    include ../_includes/scripts.pug