extends ../_components/layout.pug
include ../_components/mixins/mixins.pug

//- head
//- ===================================
append head
  - var urlCSS = "../css/"
  include ../_includes/head.pug

//- Content
//- ===================================
block content
  - var selected = 'Grid';	
  - var urlAncor = '../#'
  - var urlIndex = '../index.html'
  - var urlImg = '../img/'
  - var urlPages = '../pages-components/'; 

  //Main
  main.main(id="main")
    include ../_includes/menu.pug	

    .main-content(id="main")
      h1.main-content__title Grid
      div(class="collapse" data-collapse="group")
        div(class="utilization collapse__title" data-collapse="item") Veja como utilizar
        div.main-content__text.moldure(data-collapse="content")
          p.space-bottom Para utilizar o sistema de grid é necessário adicionar as classes grid-<b>numero<small>*</small></b>, grid-xs-<b>numero<small>*</small></b>, grid-s-<b>numero<small>*</small></b>, grid-m-<b>numero<small>*</small></b> e grid-l-<b>numero<small>*</small></b>.
          p O <b>número</b> varia de <b>1 até 12</b>, pois foi desenvolvido para comportar até <b>12 colunas</b>.

          ul.space-bottom(style="list-style: disc; padding-left: 4rem;")
            li O valor do <b>grid-</b> corresponde à tela com tamanho até <b>560px</b>;
            li O valor do <b>grid-xs (extra-small)</b> corresponde à tela com tamanho mínimo de <b>560px</b>;
            li O valor do <b>grid-s (small)</b> corresponde à tela com tamanho mínimo <b>de 768px</b>;
            li O valor do <b>grid-m (medium)</b> corresponde à tela com tamanho mínimo de <b>992px</b>;
            li O valor do <b>grid-l (large)</b> corresponde à tela com tamanho mínimo de <b>1200px</b>;

          p.space-bottom Para acrescentar uma margem de <b>offset</b>, é necessário adicionar as classes grid-offset-<b>numero<small>*</small></b>, grid-xs-offset-<b>numero<small>*</small></b>, grid-s-offset-<b>numero<small>*</small></b>, grid-m-offset-<b>numero<small>*</small></b> e grid-l-offset-<b>numero<small>*</small></b>. 

          p O sistema foi desenvolvido com uso do <b>CSS Grid Layout</b> e portanto, não é compatível com todos os browsers, principalmente os mais antigos.
          p No site do #[a(href="https://caniuse.com/#search=grid" target="_blank") Can I use] é possível verificar à compatibilidade.

      .grid-block
        h2.main-content__subtitle Exemplo com 12 colunas padrão, 4 em large, 3 em medium e 2 em extra-small
        .grid-container
          div(class="grid-12 grid-xs-6 grid-m-4 grid-l-3")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-12) (grid-xs-6) (grid-m-4) (grid-l-4)]

          div(class="grid-12 grid-xs-6 grid-m-4 grid-l-3")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-12) (grid-xs-6) (grid-m-4) (grid-l-4)]

          div(class="grid-12 grid-xs-6 grid-m-4 grid-l-3")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-12) (grid-xs-6) (grid-m-4) (grid-l-4)]

          div(class="grid-12 grid-xs-6 grid-m-12 grid-l-3")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-12) (grid-xs-6) (grid-m-12) (grid-l-4)]

      .grid-block
        h2.main-content__subtitle Exemplo com 2 colunas padrão, 7 e 5 em small e offset-9 em medium 
        .grid-container
          div(class="grid-6 grid-s-7")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-6) (grid-s-7)]
          
          div(class="grid-6 grid-s-5 grid-m-offset-9")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-6) (grid-s-5) (grid-m-offset-9)]
      
      .grid-block
        h2.main-content__subtitle Exemplo com offset-6 padrão
        .grid-container
          div(class="grid-offset-6")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-offset-6)]

      .grid-block
        h2.main-content__subtitle Exemplo com 12 colunas padrão e offset-4 em small 
        .grid-container
          div(class="grid-12 grid-s-offset-4")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-12) (grid-s-offset-4)]

      .grid-block
        h2.main-content__subtitle Exemplo com 2 colunas padrão e offset-8 em large 
        .grid-container
          div(class="grid-6 grid-l-2")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-6) (grid-l-2)]
              
          div(class="grid-6 grid-l-offset-8")
            .grid-block__content
              p #[span(class="grid-block__item") (grid-6) (grid-l-offset-8)]

    include ../_includes/footer.pug	

  //- scripts
  //- ===================================
  prepend scripts
    - var urlJS = '../js/'
    include ../_includes/scripts.pug