extends ../_components/layout.pug
include ../_components/mixins/mixins.pug

//- head
//- ===================================
append head
  - var urlCSS = "../css/"
  include ../_includes/head.pug

//- Content
//- ===================================
block content
  - var selected = 'Modal';	
  - var urlAncor = '../#'
  - var urlIndex = '../index.html'
  - var urlImg = '../img/'
  - var urlPages = '../pages-components/';

  //Main
  main.main
    include ../_includes/menu.pug		
	  
    .main-content
      h1.main-content__title Modal
      div(class="collapse" data-collapse="group")
        div(class="utilization collapse__title" data-collapse="item") Veja como utilizar
        div.main-content__text.moldure(data-collapse="content")
          p.space-bottom Acrescentar um <b>data-modal="open"</b> e um <b>aria-controls="#nomedotarget"</b> no elemento que vai abrir o modal. Colocar no elemento target, um <b>data-modal="container"</b> e um <b>id</b> com o mesmo nome do elemento que contem no aria-controls. Acrescentar ainda, um <b>data-modal="close"</b> no elemento de botão que fecha o modal. 
          p.space-bottom Para definir o tamanho do modal, colocar uma classe no elemento target com nome de <b>x-small</b>, <b>small</b>, <b>medium</b> ou <b>large</b>. As classes podem ter qualquer nome e serem estilizadas livremente.

      .modal-open
        a(class="btn-modal" aria-controls="#modal0" data-modal="open") Modal x-small
        a(class="btn-modal" aria-controls="#modal1" data-modal="open") Modal small
        a(class="btn-modal" aria-controls="#modal2" data-modal="open") Modal medium
        a(class="btn-modal" aria-controls="#modal3" data-modal="open") Modal large

      //- Modal-content

      <section class="modal" data-modal="container" id="modal0">
        <div class="modal-container x-small form">
          <button data-modal="close" class="modal-close">X</button>
          .modal-wrapper
            <form action="">
              <label for="email">Email</label>
              <input type="text" form="email" id="email">
              <label for="email">Senha</label>
              <input type="password" form="senha" id="senha">
              <button type="submit">Entrar</button>
            </form>
        </div>
      </section>

      <section class="modal" data-modal="container" id="modal1">
        <div class="modal-container small form">
          <button data-modal="close" class="modal-close">X</button>
          <div class="modal-wrapper">
            <form action="">
              <label for="email">Email</label>
              <input type="text" form="email" id="email">
              <label for="email">Senha</label>
              <input type="password" form="senha" id="senha">
              <button type="submit">Entrar</button>
            </form>
          </div>
        </div>
      </section>

      <section class="modal" data-modal="container" id="modal2">
        <div class="modal-container medium">
          <button data-modal="close" class="modal-close">X</button>
          .modal-wrapper
            h3.main-content__title Título aqui
            p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam amet expedita delectus esse nisi consectetur dignissimos adipisci voluptates nihil aut! Explicabo officiis veritatis assumenda! Pariatur magni laudantium obcaecati est sapiente!
        </div>
      </section>

      <section class="modal" data-modal="container" id="modal3">
        <div class="modal-container large">
          <button data-modal="close" class="modal-close">X</button>
          <form action="">
            .modal-wrapper
              h3.main-content__title Título aqui
              p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis ut laborum voluptatum corporis rem tempora at sapiente sunt. Numquam labore exercitationem non aperiam minus quasi iste doloribus at cupiditate.
              p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis ut laborum voluptatum corporis rem tempora at sapiente sunt. Numquam labore exercitationem non aperiam minus quasi iste doloribus at cupiditate.
              img(src=urlImg + 'hacker.svg', alt="")
              p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis ut laborum voluptatum corporis rem tempora at sapiente sunt. Numquam labore exercitationem non aperiam minus quasi iste doloribus at cupiditate.
              p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis ut laborum voluptatum corporis rem tempora at sapiente sunt. Numquam labore exercitationem non aperiam minus quasi iste doloribus at cupiditate.
              img(src=urlImg + 'hacker.svg', alt="")
              p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis ut laborum voluptatum corporis rem tempora at sapiente sunt. Numquam labore exercitationem non aperiam minus quasi iste doloribus at cupiditate.
              p.main-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis ut laborum voluptatum corporis rem tempora at sapiente sunt. Numquam labore exercitationem non aperiam minus quasi iste doloribus at cupiditate.
              img(src=urlImg + 'hacker.svg', alt="")
          </form>
        </div>
      </section>

      .block-code
        h2.main-content__subtitle HTML Exemplo
        .code
          button(class="btn-copy" data-clipboard-target="#html-code")
            img(src="../img/clippy.svg" alt="Copy Simbol")
          pre
            code(id="html-code")
              |  &lt;a class=&quot;btn-modal&quot; aria-controls=&quot;#modal&quot; data-modal=&quot;open&quot;&gt;Modal medium&lt;/a&gt;
              |
              |  &lt;section class=&quot;modal&quot; data-modal=&quot;container&quot; id=&quot;modal&quot;&gt;
              |    &lt;div class=&quot;modal-container medium form&quot;&gt;
              |      &lt;button data-modal=&quot;close&quot; class=&quot;modal-close&quot;&gt;X&lt;/button&gt;
              |      &lt;div class=&quot;modal-wrapper&quot;&gt;
              |        &lt;form action=&quot;&quot;&gt;
              |          &lt;label for=&quot;email&quot;&gt;Email&lt;/label&gt;
              |          &lt;input type=&quot;text&quot; form=&quot;email&quot; id=&quot;email&quot;&gt;
              |          &lt;label for=&quot;email&quot;&gt;Senha&lt;/label&gt;
              |          &lt;input type=&quot;password&quot; form=&quot;senha&quot; id=&quot;senha&quot;&gt;
              |          &lt;button type=&quot;submit&quot;&gt;Entrar&lt;/button&gt;
              |        &lt;/form&gt;
              |      &lt;/div&gt;
              |    &lt;/div&gt;
              |  &lt;/section&gt;
              

  //- scripts
  //- ===================================
  prepend scripts
    - var urlJS = '../js/' 
    include ../_includes/scripts.pug