/* ---- Animações ---- */
@keyframes show {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes arrowDown {
  0% {
    transform: translate3d(0, -20px, 0);
  }

  to {
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes show-right-scroll {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes show-left-scroll {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes show-down-scroll {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes show-up-scroll {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes show-zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }

  50% {
    opacity: 1;
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

/* Animação ao scroll */
.js [data-anime="scroll-fade"],
.js [data-anime="scroll-left"],
.js [data-anime="scroll-right"],
.js [data-anime="scroll-top"],
.js [data-anime="scroll-down"],
.js [data-anime="scroll-zoomIn"] {
  opacity: 0;
}

[data-anime="scroll-fade"].active {
  opacity: 1;
  transition: .3s ease-in-out;
}

[data-anime="scroll-left"].active {
  opacity: 1;
  animation: show-left-scroll .3s forwards;
}

[data-anime="scroll-right"].active {
  opacity: 1;
  animation: show-right-scroll .3s forwards;
}

[data-anime="scroll-down"].active {
  opacity: 1;
  animation: show-down-scroll .3s forwards;
}

[data-anime="scroll-top"].active {
  opacity: 1;
  animation: show-up-scroll .3s forwards;
}

[data-anime="scroll-zoomIn"].active {
  opacity: 1;
  animation: show-zoomIn .2s forwards;
}